<%- include ('./partials/header.ejs')%>
<center>
    <form action="/login" method="post">
        <h1>Welcome To The Registration Page</h1><br>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required><br><br>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required><br><br>
        
            <button type="submit">Login</button><br><br>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div><br>
        
          <div class="container" style="background-color:#f1f1f1">
            <!-- <button type="button" class="cancelbtn">Cancel</button>&nbsp &nbsp
            <span class="psw">Forgot <a href="#">password?</a></span> -->
          </div>
          <span class="psw">If you have no account, please <a href="/checkdata">Register</a> here</span>
    </form>
</center>
<%- include ('./partials/footer.ejs')%>